/* Roadmap */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.r-cont {
  font-family: Space Grotesk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-color: #00161d;
}

.r-head {
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin: 0px;
  margin-bottom: 30px;
}

.r-ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.r-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  min-width: 100%;
}

.r-li-btn {
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 80px;
  text-align: center;
  border: 0px;
  margin-bottom: 10px;
}

.r-li-head {
  color: white;
  font-size: 25px;
  font-weight: 800;
  margin: 0px;
  margin-bottom: 20px;
}

.r-li-ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

.r-li-ul-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.r-li-ul-li-img {
  height: 20px;
  width: 20px;
  margin: 0px;
  margin-right: 20px;
}

.r-li-ul-li-para {
  color: white;
  font-size: 15px;
  margin: 0px;
}

.r-li-img {
  height: 300px;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  box-shadow: 0px 1px 5px black inset, 0px -1px 5px black inset;
}

.fr-cont {
  margin-top: 20px;
  padding: 20px;
  margin: 0px;
}

.fr-head {
  color: white;
  font-size: 33px;
  margin: 0px;
  margin-bottom: 20px;
}

.fr-ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.fr-li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  margin-bottom: 15px;
}

.fr-plus {
  color: cyan;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.fr-para {
  color: white;
  font-size: 14px;
  margin: 0px;
}

.e-cont {
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 32px 16px #63f2ff1a inset;
  background-color: #011c24;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.e-head {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 15px;
}

.e-span {
  color: cyan;
  font-size: 25px;
  margin: 0px;
}

.e-para {
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 15px;
}

.e-btn {
  box-shadow: 0px 0px 1px 1px #4cddfd inset;
  background-color: #cdfcff;
  border: 0px;
  width: 131px;
  height: 44px;
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #0b2a2d;
  font-weight: 400;
}

@media (min-width: 992px) {
  .r-head {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .r-ul {
    width: 100%;
  }

  .r-li {
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .r-li-text-1 {
    align-self: flex-start;
    margin-top: 70px;
  }

  .r-li-text-2 {
    order: 1;
    align-self: flex-start;
    margin-top: 70px;
  }

  .r-li-img {
    width: 450px;
    height: 450px;
  }

  .fr-cont {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 60%;
  }

  .fr-head {
    font-size: 25px;
    margin-left: 25px;
    text-align: left;
    width: 28%;
  }

  .e-cont {
    margin-top: 70px;
    width: 50%;
    padding: 40px;
    margin-bottom: 70px;
  }

  .e-head {
    font-size: 30px;
    font-weight: bold;
  }

  .e-para {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
